.aboutOuter {
  position: relative;
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.setWidth {
  border: 0px solid green;
  width: 80%;
  margin-top: 40px;
}

.quads {
  border: 0px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px 0px;
}

.quad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 120px;
  color: white;
  text-align: center;
  border-radius: 12px;
  background-color: rgb(46, 35, 65);
}

.quad:hover {
  transition: box-shadow 0.3s;
  border: 2px solid white;
  box-shadow: 0px 0px 10px black;
}

.animImg {
  filter: invert(0.65);
}

.quad:hover .animImg {
  filter: invert(0.8);
  transition: all 0.5s;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abtImages {
  height: 32px;
  width: 32px;
}

.card-outer {
  color: rgb(207, 204, 204);
  background-color: rgb(46, 35, 65);
  border-radius: 12px;
  height: 300px;
  width: 260px;
  text-align: left;
  padding: 10px 4px 10px 8px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
  perspective: 1000px; /* Add perspective for 3D effect */
}

.is-flipped {
  transform: rotateY(180deg);
  border: 1px solid white;
  transition: all 0.7s;
  box-shadow: 0px 0px 10px rgb(23, 2, 74);
}

.front {
  font-size: 84px;
  text-align: left;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  position: relative;
  transform: rotateY(180deg);
}

.all-cards {
  margin-top: 22px;
  width: 110%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
