.taskAddViewOuter {
  border: 0px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.widthSet {
  border: 0px solid red;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 500px;
  height: 220px;
  padding: 10px;
  border: 0px solid green;
  color: white;
  border-radius: 12px;
  background-color: rgb(46, 35, 65);
  box-shadow: 2px 2px 4px rgb(23, 2, 74);
}

.aboutTask {
  color: white;
  border-radius: 12px;
  background-color: rgb(46, 35, 65);
  padding: 10px;
  width: 500px;
  height: 220px;
  border: 0px solid purple;
  box-shadow: 2px 2px 4px rgb(23, 2, 74);
}

/* css krupali */
.top {
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0px 0;
}

.task {
  
  /* color: rgb(122, 9, 176); */
  font-size: large;
}

.task .input {
  position: relative;
  width: 210px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}

.inpBox {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 210px;
}

.btm {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  /* border: 2px solid red; */
}

.input-desc {
  /* border: 2px solid green; */
  width: 210px;
}

.input-desc input {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  /* background-color: rgb(206, 179, 241); */
}

.input label {
  margin: 0;
}

.input-desc label {
  margin: 0;
}

.top .input input {
  border: 1px solid black;
  border-radius: 10px;
  /* background-color: rgb(206, 179, 241); */
  width: 100%;
  height: 25px;
}

.box1 input {
  height: 20px;
  width: 50px;
  transform: translate(24px, 5px);
}

.box2 label {
  padding-top: 10px;
}

.box2 input {
  height: 20px;
  width: 50px;
  padding-top: 5px;
}
