.taskAddViewOuter {
  border: 0px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.widthSet {
  border: 0px solid red;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamicLi:hover {
  cursor: pointer;
}

.btnAddTask {
  border: 2px solid red;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  width: 500px;
  height: 220px;
  padding: 10px;
  border: 0px solid green;
  color: white;
  border-radius: 12px;
  background-color: rgb(46, 35, 65);
  box-shadow: 2px 2px 4px rgb(23, 2, 74);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(93, 125, 189, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(44, 65, 104, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(10, 181, 146, 0.3);
}

.aboutTask {
  color: white;
  border-radius: 12px;
  background-color: rgb(46, 35, 65);
  padding: 10px;
  width: 500px;
  height: 220px;
  border: 0px solid purple;
  box-shadow: 2px 2px 4px rgb(23, 2, 74);
}

/* css krupali */
.task {
  /* color: rgb(122, 9, 176); */
  font-size: large;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0px 0;
}

.top .input {
  position: relative;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border: 0px solid green;
}

.top .input input {
  border: 1px solid black;
  border-radius: 10px;
  /* background-color: rgb(206, 179, 241); */
  width: 100%;
  height: 30px;
  outline: none;
  padding: 6px;
}

.btm {
  display: flex;
  justify-content: space-between;
  /* margin: 20px 0; */
  /* border: 2px solid red; */
}

.inpBox {
  border: 0px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 160px;
  height: 80px;
}

.inpBox input {
  height: 20px;
  width: 50px;
}

.inpBox .box1 {
  /* margin-top: 6px; */
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.inpBox .box2 {
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_desc {
  border: 0px solid green;
  width: 210px;
}
