.task_main {
  border: 0cap solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tblDivs {
  border: 0px solid green;
  max-height: 180px;
  /* overflow-y: scroll; */
}

.listViewInner {
  height: 115px;
  overflow-y: auto;
}

.areaSetter {
  width: 80%;
}
